# Ignore these files when building Docker image
**/bin/
**/obj/
**/.vs/
**/.git/
**/.gitignore
**/node_modules/
**/*.user
**/*.log
**/Dockerfile*
**/docker-compose*
**/*.md
**/*.txt
**/appsettings.Development.json
**/.idea/
